 img {
            position: absolute;
            top: 15em;
            right: 10px;    
            z-index: 1;
            border: 5px solid black;
        }
        p {
            width: auto;
            text-align: center;
            font-size: 80px;
        }
        #divstick {
            color: red;
            font-weight: bold;
            font-size: 100px;
            text-decoration: underline;
            position: sticky;
            top: 10px;
            background-color: green
        }